.inventoryTotal {
    padding-top: 30px;
    margin-left: 15px;
    padding-left: 20px;
    width: calc(100% - 30px);
    height: calc(100% - 100px);
    display: flex;
}

.inventoryTotal h2 {
    font-size: 35px;
}

.inventoryStats {
    width: calc(100% - 30px);
    height: 60px;
    margin-left: 15px;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid rgba(0, 0, 0, .3);
}

.inventoryStats h4 {
    font-size: 12px;
}

.inventoryStats p {
    font-size: 10px;
    opacity: .4;
}

@media(min-width: 1000px) {

    .graphBoxSmall h2 {
    font-size: 35px;
    }

}