.paymentsTotal {
    padding-left: 20px;
    width: calc(100% - 30px);
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.paymentsTotal h2 {
    font-size: 32px;
}

.paymentsTotal h3 {
    font-size: 12px;
    opacity: .4;
    padding-top: 10px;
}
